@import url(https://fonts.googleapis.com/css?family=Roboto:300);

html, body {
	color: #f4dc42;
	background-color: #121314;
  	padding: 8% 0 0;
  	margin: auto;
  	font-family: "Roboto", sans-serif;
}
input {
	font-family: monospace;
	border-radius: 4px;
	font-size: 16px;
	padding: 10px;
	border: none;
	color: white;
	background-color: #0f140e;
}

input[type=submit]{
	background-color: darkslategrey;
	border: none;
	border-radius: 8px;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	text-align: center;
	transition-duration: 0.2s;
}


input[type=submit]:hover {
	background-color: #669999;
}

.loginbox {
	background-color: rgba(0, 0, 0,0.7);
	color: #00f991;
	position: relative;
	z-index: 1;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	max-width: 480px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}