@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url('https://fonts.googleapis.com/css?family=Oswald|Source+Sans+Pro');
html, body {
	color: #f4dc42;
	background-color: #121314;
	background-image: url("../public/gray.jpg");
	height: 100%;
}

body {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 18px;
	margin: 0;
}

input {
	font-family: monospace;
	font-size: 16px;
	padding: 10px;
	border: none;
	color: white;
	background-color: rgba(37, 46, 61,0.8);
}

#chat {
	background-color: rgba(0, 0, 0,0.7);
	border-right: 1px solid gray;
	color: #00f991;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 70%;
}

#header {
	font-family: "Oswald", sans-serif;
	border-bottom: 1px solid gray;
	color: white;
	flex: 0 0 auto;
	padding: 10px;
	text-align: center;
	vertical-align: top;
}

#chatBox {
	flex: 1 1 auto;
	height: 100%;
	padding: 10px;
	overflow-y: scroll;
}

#typingCell {
	color: gray;
	flex: 0 0 auto;
}

#footer {
	flex: 0 0 auto;
	margin-top: 5px;
	margin-bottom: 2px;
}

#messageBoxWrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#messageBoxWrapper > * {
	margin-right: 5px;
}

#messageBox {
	flex: 1 1 auto;
	margin-left: 5px;
}

.messageBlock {
	margin-bottom: 5px;
}

.messageBlock .author:after {
	content: " says: ";
}

.messageBlock .content {
	padding-left: 20px;
	color: #f4dc42;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-all;
	word-break: break-word;
	hyphens: auto;
}

.button {
	background-color: darkslategrey;
	border: none;
	border-radius: 4px;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 23px;
	text-align: center;
	transition-duration: 0.2s;
}

.button:hover {
	background-color: #669999;
}

.serverMessage {
	color:red;
}

#userList {
	background-color: rgba(0, 0, 0, 0.7);
	border-left: 1px solid gray;
	color: white;
	display: table;
	float: right;
	height: 100%;
	width: 29%;
}

#onlineHeader {
	font-family: "Oswald";
	border-bottom: 1px solid gray;
	padding: 10px;
	text-align: center;
	color:white;
	vertical-align: top;
	height: 8%;
}

span.table {
	display: table;
}

span.row {
	display: table-row;
}

span.row > * {
	display: table-cell;
}
