html, body {
	height: 99%;
	color: #2d2d1b;
	background-color: #121314;
	background-image: url("../public/map.bmp");
}

body {
	font-family: monospace;
	font-size: 16px;
	margin: 0;
}

input {
	font-family: monospace;
	font-size: 16px;
	padding: 10px;
	border: none;
	color: white;
	background-color: rgba(15, 1, 94,0.8);
}

#userList {
	float: right;
	color: cyan;
	border: 1px solid white;
	display: table;
	height: 100%;
	width: 29%;
	left:100%;
	background-color: rgba(0, 0, 0, 0.7);
}
#onlineHeader {
	border-bottom: 1px solid #DDD;
	padding: 10px;
	text-align: center;
	color:white;
	vertical-align: top;
	height: 8%;
}

#chat {
	color: cyan;
	border: 1px solid white;
	display: table;
	width: 70%;
	background-color: rgba(0, 0, 0,0.7);
}

.button {
	border-radius: 4px;
	cursor: pointer;
	border: none;
	color: white;
	background-color: darkslategrey;
	font-size: 23px;
	text-align: center;
	display: inline-block;
	transition-duration: 0.2s;
}

.button: hover {
	background-color: #669999;
}

span.table {
	display: table;
}

span.row {
	display: table-row;
}

span.row > * {
	display: table-cell;
}

span.collumn {
	display: table-column;
}
span.collumn > * {
	display:table-cell;
}
#header {
	border-bottom: 1px solid #DDD;
	padding: 10px;
	text-align: center;
	vertical-align: top;
	color:white;
}

#displayRow {
	height: 100%;
}

#display {
	height: 100%;
	padding: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

#chatBox {
	height: 100%;
	overflow-y: scroll;
}

#footer {
	text-align: center;
}

#typingCell {
	color: gray;
	text-align: left;
}

#messageBoxTable, #messageBoxRow {
	width: 100%;

}

#messageBoxCell {
	width: 70%;
}

#messageBox {
	width: 100%;
}

.messageBlock {
	margin-bottom: 5px;
}

.messageBlock .author:after {
	content: " says: ";
}

.messageBlock .content {
	padding-left: 20px;
	color: #00ff99;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-all;
	word-break: break-word;
	hyphens: auto;
}
